 .footerCategoryLi {
            width: 193px;
        }
        .auto-style1 {
            width: 143px;
        }
        .auto-style2 {
            width: 144px;
        }
        .auto-style3 {
            width: 162px;
        }
        .auto-style4 {
            width: 160px;
        }
        .auto-style5 {
            width: 163px;
        }
        .auto-style6 {
            text-align: justify;
            width: 165px;
        }
        .auto-style10 {
            text-align: justify;
            width: 174px;
        }